body{
    background:url(./images/cover.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
h1{
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    padding: 10px;
    color: white;
    margin: 0 30px;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}



.entry{
    background: rgba(59, 74, 107, .4);
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    position: relative;
    padding: 15px 0;
    font-family: 'Lobster', cursive;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: solid;
    
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border:solid;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
    font-family: 'Oswald', sans-serif;
    padding: 0 4px;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 